<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar-style.css') }}">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <title>ARTIFICE NEWS</title>
</head>

<body>

  <!-- ========== START OF HEADER ========== -->
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-column align-items-stretch">
      <div class="d-flex">
        <a href="#" class="navbar-brand mx-sm-auto mr-auto">
          <!-- <h1>🅐🅡🅣🅘🅕🅘🅒🅔</h1> -->
          <img src="{{ url_for('static', filename='logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse w-100 sticky-top" id="navbarMenu">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">ARTICLES</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">INSIGHT</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">API</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- ========== END OF HEADER ========== -->

  <br>
  <!-- ========== START OF BODY ========== -->
  <main role="main" class="container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Map_of_Hawaii_highlighting_Kahoolawe.svg/1920px-Map_of_Hawaii_highlighting_Kahoolawe.svg.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">headline</h3>
        <small><strong>publish date</strong></small>
        <p class="card-text" style="font-size: 12px;">Some quick example text to build on the card title and make up the bulk of the card's content. Description of the article</p>
        <div>
          <a href="#" class="btn btn-outline-secondary">Read More</a>
        </div>
      </div>
    </div>
  </main>
  <!-- ========== END OF BODY ========== -->


  <!-- ========== START OF FOOTER ========== -->
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="text-muted"><a target="_blank" href="https://github.com/minelminel/artifice-project">GitHub</a></div>
      </div>
    </div>
  </footer>
  <!-- ========== END OF FOOTER ========== -->


  <!-- ========== JS CDN ========== -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
